.hide {
    opacity: 0;
    visibility: hidden;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.clean-list {
    @include clean-list;
}

.m-top-sm,
ul.m-top-sm {
    margin-top: $space-sm;
}

.m-top-md,
ul.m-top-md {
    margin-top: $space-lg;
}

.m-top-lg,
ul.m-top-lg {
    margin-top: $space-2xl;
}

.m-top-xl,
ul.m-top-xl {
    margin-top: $space-3xl;
}

.m-bottom-sm,
ul.m-bottom-sm {
    margin-bottom: $space-sm;
}

.m-bottom-md,
ul.m-bottom-md {
    margin-bottom: $space-lg;
}

.m-bottom-lg,
ul.m-bottom-lg {
    margin-bottom: $space-2xl;
}

.m-bottom-xl,
ul.m-bottom-xl {
    margin-bottom: $space-3xl;
}

.no-touch {
    pointer-events: none;
    opacity: .75;
}