@mixin font-size($min, $valVW, $max, $size) {
    font-size: ($size * 10px);
    font-size: ($size * 1rem);
    font-size: min(max(#{$min}, #{$valVW}), #{$max});
    font-size: clamp(#{$min}, #{$valVW}, #{$max});
}

@mixin fs-smallest {
    font-size: 10px;
    font-size: 1rem;
}

@mixin fs-xs {
    font-size: 12px;
    font-size: 1.2rem;
}

@mixin fs-sm {
    font-size: 15px;
    font-size: 1.5rem;
}

// @mixin fs-sm-clamp {
//     font-size: 20px;
//     font-size: 2rem;
//     font-size: min(max(17px, 1.323vw), 23px);
//     font-size: clamp(17px, 1.323vw, 23px);
//     font-size: min(max(1.7rem, 1.323vw), 2.3rem);
//     font-size: clamp(1.7rem, 1.323vw, 2.3rem);
// }

@mixin fs-md {
    font-size: 18px;
    font-size: 1.8rem;
}

@mixin fs-lg {
    font-size: 22px;
    font-size: 2.2rem;
}

// @mixin fs-lg-clamp {
//     font-size: 30px;
//     font-size: 3rem;
//     font-size: min(max(25px, 1.985vw), 35px);
//     font-size: clamp(25px, 1.985vw, 35px);
//     font-size: min(max(2.5rem, 1.985vw), 3.5rem);
//     font-size: clamp(2.5rem, 1.985vw, 3.5rem);
// }

@mixin fs-xl {
    font-size: 36px;
    font-size: 3.6rem;
}

@mixin fs-big {
    @include font-size(5rem, 10vw, 30rem, 180);
}

// @mixin fs-xl-clamp {
//     font-size: 40px;
//     font-size: 4rem;
//     font-size: min(max(32px, 2.32vw), 50px);
//     font-size: clamp(32px, 2.32vw, 50px);
//     font-size: min(max(32px, 2.32vw), 5rem);
//     font-size: clamp(32px, 2.32vw, 5rem);
// }

// @mixin fs-xxl {
//     font-size: 60;
//     font-size: 6rem;
// }

// @mixin fs-xxl-clamp {
//     font-size: 60px;
//     font-size: 6rem;
//     font-size: min(max(30px, 3.475vw), 80px);
//     font-size: clamp(30px, 3.475vw, 80px);
// }

// @mixin fs-xxxl {
//     font-size: 110px;
//     font-size: 11rem;
// }

// @mixin fs-xxxl-clamp {
//     font-size: 110px;
//     font-size: 11rem;
//     font-size: min(max(75px, 7.276vw), 150px);
//     font-size: clamp(75px, 7.276vw, 150px);
//     font-size: min(max(7.5rem, 7.276vw), 15rem);
//     font-size: clamp(7.5rem, 7.276vw, 15rem);
// }

// @mixin fs-biggest {
//     font-size: 300px;
//     font-size: 30rem;
// }

// @mixin fs-biggest-clamp {
//     font-size: 300px;
//     font-size: 30rem;
//     font-size: min(max(40px, 19.842vw), 450px);
//     font-size: clamp(40px, 19.842vw, 450px);
//     font-size: min(max(4em, 19.842vw), 45em);
//     font-size: clamp(4em, 19.842vw, 45em);

//     // @media (max-width: $sm){
//     //     @include fs-xl;
//     // }
// }

@mixin object-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin transition($properties: all, $duration: .3s, $timing-function: ease-in-out){
    transition: $properties $duration $timing-function;
}

@mixin tag($bgcolor: $light-red, $txtcolor: $red){
    display: inline-flex;
    align-items: center;
    color: $txtcolor;
    background-color: $bgcolor;
    @include text-small-info;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    border-radius: 50px;
    padding: .25em .75em;
    border: none;
}

@mixin btn($bgcolor: $light-red, $txtcolor: $red, $bordercolor: false, $issmall: false) {
    color: $txtcolor;
    background-color: $bgcolor;
    @include text-small-info;
    line-height: 1;
    border-radius: 50px;
    padding: .75em 1.5em;
    cursor: pointer;
    appearance: none;
    @include transition;

    @if $bordercolor {
        border: 1px solid $bordercolor;
    }

    @if $issmall {
        padding: .5em 1em;
    }
}