.block--text-with-navigation {
    padding: 0 $gutter*2;

    @media (max-width: $xl){
        padding: 0 $gutter;
    }

    @media (max-width: $lg){
        padding: 0 $gutter/2;
    }
}
.text-with-navigation {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: $gutter;

    @media (max-width: $xl){
        gap: $gutter/2;
    }

    @media (max-width: $lg){
        display: flex;
        flex-direction: column;
    }
}

.text-with-navigation__nav {
    grid-column: 1 / span 3;
    align-self: start;
    position: sticky;
    top: calc(var(--topBarH) - 1px);
    width: 100%;
    background-color: $white;
    transition: top 0.8s cubic-bezier(0.5,0.5,0,1);

    ul {
        margin-block: 0;
        @include clean-list;
        width: 100%;
        overflow-y: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }
    }

    a {
        @include fs-md;
        text-transform: uppercase;
        font-weight: 700;
    }

    @media (max-width: $xl){
        grid-column: 1 / span 4;
    }

    @media (max-width: $lg){
        // flex: 0 0 100%;
        width: calc(100% + $gutter);
        margin-left: -$gutter/2;
        padding-block: 1em;

        body:has(.topbar--is-hidden) & {
            top: 0;
        }

        ul {
            display: flex;
            gap: $gutter;
            padding: 0 $gutter/2;
        }

        a {
            @include fs-sm;
        }
    }
}

.text-with-navigation__content {
    grid-column: 4 / span 8;
    padding-bottom: $gutter*2;

    h3 {
        @include fs-md;
        text-transform: uppercase;
        font-weight: 700;
    }

    @media (max-width: $xl){
        grid-column: 5 / span 9;
    }

    @media (max-width: $lg){
        flex: 0 0 100%;
    }
}