.block--contact-form {
    > div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: $gutter;
    }

    form {
        grid-column: 2 / span 10;
    }

    &__submit {
        margin-top: auto;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: $gutter;

        > div {
            display: flex;
            flex-direction: column;
            gap: 2rem;
 
            &:first-child {
                grid-column: 1 / span 4;
            }

            &:last-child {
                grid-column: 6 / span 4;
            }
        }


    }

    @media (max-width: $xxl){
        &__grid {
            grid-template-columns: repeat(2,1fr);

            >div {
                &:first-child,
                &:last-child {
                    grid-column: unset;
                }
            }
        }
    }

    @media (max-width: $lg){
        > div {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }

    @media (max-width: $md){
        form {
            grid-column: unset;
        }

        &__grid {
            grid-template-columns: 1fr;
            gap: $gutter/2;
        }
    }

}

