.bottle-screen {
    container: inline-size;
    --bg-opacity: 0;
    --color-1: #ffbfbf;
    --color-2: #f0dbff;
    --color-3: #c8e3ff;
    --color-4: #fcdfe5;
    position: relative;
	width: 100%;
	// height: 110svh;
    height: 100svh;
	overflow: hidden;
    // background-color: red;

    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: var(--bg-opacity);
        background: linear-gradient(52deg, var(--color-1) 0%, var(--color-2) 33%, var(--color-3) 66%, var(--color-4) 100%); 
    }

    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.bottle-screen__bg {
	position: absolute;
	// top: calc(50% - 50vmax);
	// left: calc(50% - 50vmax);
    top: calc(50% - 50cqmax);
	left: calc(50% - 50cqmax);
	// width: 100vmax;
    width: 100cqmax;
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(30, 1fr); 
	user-select: none;
    background-color: white;
    mix-blend-mode: color-burn;
    opacity: 0;

    @media (max-width: $lg){
        display: none;
	}
}

.bottle-screen__number {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5vmax;
	color: black;
	// opacity: 0;
    font-weight: 520;
	font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum" 1;
    -moz-font-feature-settings: "lnum=1";
    -ms-font-feature-settings: "lnum" 1;
    -o-font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;
}

.bottle-screen__fg {
	position: absolute;
	top: calc(50% - 50vmax);
	left: calc(50% - 50vmax);
	width: 100vmax;
    top: calc(50% - 50svmax);
	left: calc(50% - 50svmax);
	width: 100svmax;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottle-screen__model {
    // grid-area: 1/1/2/2;
    mix-blend-mode: luminosity;
}

.bottle-screen__current-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 520;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum" 1;
    -moz-font-feature-settings: "lnum=1";
    -ms-font-feature-settings: "lnum" 1;
    -o-font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;
    font-size: 20vmax;
	mix-blend-mode: difference;
    // mix-blend-mode: color-dodge;
    color: #fff;
    pointer-events: none;
}

.bottle-screen__bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 $gutter*2 0;
    // margin-bottom: $gutter*2;
    margin-bottom: clamp($gutter, 6vw, $gutter*3);
    display: flex;
    justify-content: center;
    gap: $gutter/2;
    @include transition;

    &--is-hidden {

        transform: translate3d(0,-25%, 0);
        opacity: 0;

    }

    h3 {
        text-transform: uppercase;
        @include fs-md;
        font-weight: 700;
    }
}

.bottle-screen__prev-next {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    justify-content: space-between;
    transform: translate3d(-50%, -50%, 0);
    width: calc(20vmax * 3);
    @include fs-lg;

    @media (max-width: $lg){
        width: calc(20vmax * 2.5);
        @include fs-sm;
	}
}

.prev-next {
    appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    
}


    