.dropdowns {
    @include clean-list;
    margin: 0;
}

.dropdown {
    border-bottom: 1px solid black;

    @include fs-sm;

    &:first-child {
        border-top: 1px solid black;
    }

    @media (max-width: $xl){
        @include fs-xs;
    }
}

.dropdown__trigger {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1em 0;

    &__plus {
        position: relative;
        display: block;
        height: 1em;
        aspect-ratio: 1;
        @include transition;
        // background-color: red;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: calc(50% - 1px);
            width: 2px;
            height: 100%;
            background-color: black;
            @include transition;
        }

        &:after {
            transform: rotate(90deg);
        }
    }

    .dropdown--is-open & {
        &__plus {
            &:before {
                transform: rotate(90deg);
            }
        }
    }
}

.dropdown__content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transform: translate3d(0,0,0);
    will-change: grid-template-rows;
    transition: grid-template-rows .3s ease-in-out;

    .dropdown--is-open & {
        grid-template-rows: 1fr;
    }

    > div {
        min-height: 0;
        

        >div {
            padding: 0 0 $gutter/4 0;
        }
    }
}