.media-list {
    @include clean-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gutter;
    padding: 0 $gutter*2;

    @media (max-width: $xl){
        gap: $gutter/2;
        row-gap: $gutter/4*3;
        padding: 0 $gutter;
    }

    @media (max-width: $lg){
        // row-gap: $gutter/2;
        padding: 0 $gutter/2;
    }

    @media (max-width: $md){
        row-gap: $gutter/2;
    }

}

.media-list__item {
    --blur: 20px;
    --brightness: .5;
    position: relative;
    flex: 0 1 calc(25% - $gutter/4*3);

    .media {
        position: relative;
        aspect-ratio: 16/9;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 2;
            backdrop-filter: blur(var(--blur)) brightness(var(--brightness));
        }
    }

    img, video {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120%;
    }

    @media (max-width: $xl){
        flex: 0 1 calc(50% - $gutter/4);
    }

    // @media (max-width: $md){
    //     flex: 0 1 100%;
    // }
}

.media-list__link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.media-list__title {
    text-align: center;
    text-transform: uppercase;
    @include fs-md;
    margin-top: 1em;

    @media (max-width: $lg){
        @include fs-sm;
    }

    @media (max-width: $md){
        @include fs-xs;
        margin-top: .5em;
    }
}