.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    border-radius: 0;
    
    background-color: transparent;
    cursor: pointer;

    &__bar {
        width: 100%;
        height: 2px;
        background-color: currentColor;
        border-radius: 50px;
        @include transition($duration: .2s);
    }

    body:has(.mobile-nav--is-open) & {
        &__bar--top {
            transform: translate3d(0, 12px, 0) rotate(45deg);
        }

        &__bar--middle {
            opacity: 0;
        }

        &__bar--bottom {
            transform: translate3d(0, -11px, 0) rotate(-45deg);
        }
    }

    @media (max-width: $lg){
        display: flex;
    }
}

.mobile-nav {
    position: fixed;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: var(--topBarH) $gutter*2 $gutter $gutter*2;
    overflow: auto;
    @include fs-lg;
    @include transition($duration: .2s);


    &--is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &__tools {
        ul {
            flex-direction: column;
            gap: 1.5em;
        }
    }

    &__main {
        ul {
            flex-direction: column;
        }
    }

    ul {
        @include clean-list;
        display: flex;

        ul {
            margin-bottom: .5em;
            // padding-left: .5em;
        }

    }

    nav>ul {
        margin-bottom: 1em;
    }

    @media (max-width: $xl){
        padding: var(--topBarH) $gutter $gutter $gutter;
    }

    @media (max-width: $lg){
        padding: var(--topBarH) $gutter/2 $gutter/2 $gutter/2;
    }
}