.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 18px;
    width: fit-content;
    text-decoration: none!important;
    padding: .5em 1em;
    border-radius: 3px;
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &--big {
        font-size: 20px;
        padding: 2em 4em;

        @media (max-width: $xl){
            font-size: 18px;
            padding: 1em 2em;
        }
    }

    &--light {
        color: $black;
        background-color: $white;
        border: 1px solid $white;

        &:hover {
            
        }
    }

    &--dark {
        color: $white;
        background-color: $black;
        border: 1px solid $black;

        &:hover {
            color: $black;
            background-color: $white;
        }
    }

    &--light-neg {
        color: $white;
        background-color: transparent;
        border: 2px solid $white;
        backdrop-filter: blur(20px);
        border: 1px solid $white;
        
        &:hover {
            color: $black;
            background-color: $white;
        }
    }

    &--dark-neg {
        color: $black;
        background-color: transparent;
        border: 2px solid $black;
        backdrop-filter: blur(20px);
        border: 1px solid $black;

        &:hover {
            color: $white;
            background-color: $black;
        }
    }

    &--rounded {
        border-radius: 100px;
    }
}

.woocommerce-button,
.button,
.components-button,
.wc-block-components-button {
    @include btn;
}