.btn,
.wpcf7-submit {
    @include btn;
}

.wpcf7-submit {
    width: 100%;
}

button {
    color: inherit;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    @include fs-smallest;
    font-weight: 700;
    width: fit-content;
    text-decoration: none!important;
    text-align: center;
    padding: 1.7em 1.4em;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    min-height: unset!important;
    text-transform: uppercase;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &--big {
        @include fs-sm;
        padding: 2.125em 1.75em;

        @media (max-width: $xl){
            @include fs-smallest;
            padding: 1.7em 1.4em;
        }
    }

    &--light {
        color: $black;
        background-color: $white;
        border: 1px solid $white;

        &:hover {
            
        }
    }

    &--dark {
        color: $white;
        background-color: $black;
        border: 1px solid $black;

        &:hover {
            color: $black;
            background-color: $white;
        }
    }

    &--light-neg {
        color: $white;
        background-color: transparent;
        border: 2px solid $white;
        backdrop-filter: blur(20px);
        border: 1px solid $white;
        
        &:hover {
            color: $black;
            background-color: $white;
        }
    }

    &--dark-neg {
        color: $black;
        background-color: transparent;
        border: 2px solid $black;
        backdrop-filter: blur(20px);
        border: 1px solid $black;

        &:hover {
            color: $white;
            background-color: $black;
        }
    }

    &--rounded {
        border-radius: 100px;
    }
}

.woocommerce-button,
.woocommerce a.button,
.button,
.single_add_to_cart_button,
.components-button,
.wc-block-components-button,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt, 
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt, 
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt, 
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt, 
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt {
    @include btn;
}

.sound-trigger {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-left: $gutter;

    &--is-playing {
        background-image: url(../media/img/sound-on.jpg);
    }

    &--is-not-playing {
        background-image: url(../media/img/sound-off.jpg);
    }
}