.curtain {
    // --topRight: 0%;
    // --topLeft: 0%;
    // --bottomRight: 0%;
    // --bottomLeft: 0%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    background: linear-gradient(52deg,#c9e0d1 0%,#b5c8ff 33%,#dde6ff 66%,#ffeaea 100%);
    // clip-path: polygon(var(--topLeft) 0, var(--topRight) 0, var(--bottomRight) 100%, var(--bottomLeft) 100%);
    z-index: 2000;

    body:not(.home) & {
        display: none;
    }

    &__logo {
        opacity: 0;
        visibility: hidden;
        // display: none;
    }

    svg {
        width: clamp(20rem,20vw,40rem);
    }

    .btn {
        opacity: 0;
        visibility: hidden;
    }
}

.curtain__sound-triggers {
    display: flex;
    gap: $gutter/4;
}

