.title {
    display: flex;
    align-items: center;
    margin-bottom: $gutter*2;

    @media (max-width: $lg){
        margin-bottom: $gutter*1.5;
    }

    @media (max-width: $md){
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: $gutter;
    }
}

.title__txt {
    @include regular-title;
    text-transform: uppercase;

    @media (max-width: $md){

        &:not(only-child) {
            margin-bottom: .25em;
        }
    }
}

.title__link {
    //position: relative;
    @include tag(transparent, $black);
    @include transition;
    margin-top: .25em;

    &--light {
        @include tag(transparent, $white);
    }

    &:hover {
        @include tag;
        margin-left: .5em;
    }

    @media (max-width: $md){
        margin-left: -.5em;

        &:hover {
            margin-left: 0;
        }
    }

    @media (hover: none) and (pointer: coarse) {
        @include tag;
        margin-left: .5em;
    }

    @media (hover: none) and (pointer: coarse) and (max-width: $md) {
        margin-left: 0;
    }
}

.big-title {
    @include big-title;
}